on late-fs
	restorecon_recursive /mnt/vendor/factory
	exec_start tee_provision_otp
	rm /mnt/vendor/factory/otp.pkg

	mount ext4 /dev/block/factory /mnt/vendor/factory ro remount

	exec_start tee_provision_password_hash

	exec_start tee_key_inject_wv_key
	exec_start tee_key_inject_pr3_key
	exec_start tee_key_inject_pr3_crt
	exec_start tee_key_inject_hdcp14tx
	exec_start tee_key_inject_hdcp22tx
	exec_start tee_key_inject_attestation_key
	exec_start tee_key_inject_nf


service tee_provision_otp /vendor/bin/tee_provision /mnt/vendor/factory/otp.pkg
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_provision_password_hash /vendor/bin/tee_provision_password_hash
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_wv_key /vendor/bin/tee_key_inject -t 0x11 -i /mnt/vendor/factory/wv.key -p vendor.sys.tee_key_inject_wv_key
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_pr3_key /vendor/bin/tee_key_inject -t 0x21 -i /mnt/vendor/factory/pr3.key -p vendor.sys.tee_key_inject_pr3_key
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_pr3_crt /vendor/bin/tee_key_inject -t 0x22 -i /mnt/vendor/factory/pr3.crt -p vendor.sys.tee_key_inject_pr3_crt
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_hdcp14tx /vendor/bin/tee_key_inject -t 0x31 -i /mnt/vendor/factory/hdcp14tx.key -p vendor.sys.tee_key_inject_hdcp14tx
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_hdcp22tx /vendor/bin/tee_key_inject -t 0x32 -i /mnt/vendor/factory/hdcp22tx.key -p vendor.sys.tee_key_inject_hdcp22tx
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_attestation_key /vendor/bin/tee_key_inject -t 0x42 -i /mnt/vendor/factory/android_attestation.key -n attestationkeybox -p vendor.sys.tee_key_inject_attestation_key
	oneshot
	user root
	group system
	seclabel u:r:tee:s0

service tee_key_inject_nf /vendor/bin/tee_key_inject -t 0x61 -i /mnt/vendor/factory/nf.key -p vendor.sys.tee_key_inject_nf
	oneshot
	user root
	group system
	seclabel u:r:tee:s0
